.page-dns {
  form {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1579px) {
      flex-wrap: wrap;
    }

    .select2 {
      width: 100% !important;
    }

    .form-group {
      width: 100%;
      padding: 0 15px;
      text-align: center;

      @media screen and (max-width: 1579px) {
        width: 50%;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      input, .btn {
        height: 50px;
      }

      input {
        padding-left: 20px;
        padding-right: 20px;
      }

      .select-wrapper {
        min-width: 0;
        width: 100%;
      }

      .btn {
        width: 100%;
        max-width: 220px;
      }
    }
  }

  .table {
    color: $grey;
    font-family: $eurostile;
    white-space: nowrap;

    tr td:nth-child(4) {
      min-width: 230px;
    }

    tr th {
      background: $primary;
      color: $white;
      font-weight: 600;
      @include interpolate(font-size, md, lg, 16px, 25px);
    }

    tr td:first-child {
      font-weight: 700;
    }

    tr td:last-child {
      button {
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-appearance: none;
        font-weight: 600;
        font-size: 26px;
        line-height: 1;
        color: $grey;

        &:hover {
          color: $danger;
        }
      }
    }

    tr th:last-child,
    tr td:last-child {
      text-align: center;
      padding-right: 30px;
    }

    tr th:first-child,
    tr td:first-child {
      padding-left: 30px;
    }

    tr td {
      @extend .p;
    }
  }
}
