<div class="theme-alert theme-alert-primary" role="alert">
  <div class="theme-alert-inner">
    <div class="theme-alert-content">
      <p class="h2">Get massive speed improvement</p>
      <p class="h4">and extra protection for no extra costs!</p>
      <p class="p">First get your website signed up with and using Cloudflare then enter your cloudflare keys for ParentsOutloud
        to activate your amazing speed improvements, denial of service and failover setup for your website.</p>
    </div>
  </div>
</div>
