<!DOCTYPE html>
<html lang="ru">

${require('../components/head.html').default}

<body class="page-support" style="opacity: 0">
${require('../components/scrollbar.html').default}
${require('../components/sidebar/sidebar.html').default}

<main>
  <button class="toggle-sidebar-size-button d-none"></button>
  <div class="page-content">
    ${require('../components/header.html').default}

    <section class="section">
      <div class="section-header">
        <h3 class="section-title">
          <span class="icon icon-support"></span>
          Support
        </h3>
      </div>

      <div class="section-body">
        <div class="row d-flex justify-content-center align-items-start">
          <div class="col-md-6">
            <a href="#" download="" class="link-tile">
              <span class="icon icon-notebook"></span>
              <span class="h4">Manual</span>
              <span class="p text-grey">Download your SharkGate manual <mark>HERE</mark>.</span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="#" class="link-tile">
              <span class="icon icon-notice"></span>
              <span class="h4">Blog</span>
              <span class="p text-grey">Want to catch up on website security news <br>
              - check our blog <mark>HERE</mark>.</span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="#" class="link-tile">
              <span class="icon icon-warning"></span>
              <span class="h4">Issues</span>
              <span class="p text-grey">Check your open cases or raise new tickets by logging in <mark>HERE</mark>.</span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="#" class="link-tile">
              <span class="icon icon-bill"></span>
              <span class="h4">Invoice and Subscriptions</span>
              <span class="p text-grey">
              Login to check your invoice and subscriptions by clicking <mark>HERE</mark> <br>
              - make sure to use email linked to your payments.
              </span>
            </a>
          </div>

          <div class="col-md-6">
            <a href="mailto:tickets@onehoursitefix.com" class="link-tile">
              <span class="icon icon-envelop"></span>
              <span class="h4">Contact Us</span>
              <span class="p text-grey">
              Do you have any questions or suggestions? <br>
              Do email us at <mark>tickets@onehoursitefix.com</mark>. <br>
              We would love to hear from you!
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  ${require('../components/footer.html').default}
</main>

</body>
</html>
