<aside class="sidebar sidebar-relative sidebar-left">
  <div class="sidebar-inner">
    <nav class="site-navigation">
      <a href="index.html" class="logo">

        <img src="${require('../../../images/logo-white.svg')}" alt="SharkGate">
      </a>

      <div class="user">
        <a class="collapsed" data-toggle="collapse" href="#collapseUser" role="button" aria-expanded="false"
           aria-controls="collapseUser">
          <span class="icon icon-user"></span>
          <span>User Name</span>
        </a>

        <div class="collapse" id="collapseUser">
          <ul class="list-unstyled p-0 m-0 site-navigation-menu">
            <li>
              <a href="profile.html">
                <span class="fa fa-user-edit"></span>
                <span>Edit Profile</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <ul class="list-unstyled site-navigation-menu">
        <li>
          <a href="overview.html">
            <span class="icon icon-dashboard"></span>
            <span>Overview</span>
          </a>
        </li>

        <li>
          <a href="cloudflare-keys.html">
            <span class="icon icon-key"></span>
            <span>Cloudflare Keys</span>
          </a>
        </li>

        <li>
          <a href="analytics.html">
            <span class="icon icon-graphic"></span>
            <span>Analytics</span>
          </a>
        </li>

        <li>
          <a href="security.html">
            <span class="icon icon-shield"></span>
            <span>Security</span>
          </a>
        </li>

        <li class="active">
          <a href="dns.html">
            <span class="icon icon-dns"></span>
            <span>DNS</span>
          </a>
        </li>

        <li>
          <a href="crypto.html">
            <span class="icon icon-crypto"></span>
            <span>Crypto</span>
          </a>
        </li>

        <li>
          <a href="speed.html">
            <span class="icon icon-speedometer"></span>
            <span>Speed</span>
          </a>
        </li>

        <li>
          <a href="caching.html">
            <span class="icon icon-caching"></span>
            <span>Caching</span>
          </a>
        </li>

        <li>
          <a href="network.html">
            <span class="icon icon-network"></span>
            <span>Network</span>
          </a>
        </li>

        <li>
          <a href="scrape-shield.html">
            <span class="icon icon-scrape-shield"></span>
            <span>Scrape Shield</span>
          </a>
        </li>

        <li>
          <a href="support.html">
            <span class="icon icon-support"></span>
            <span>Support</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
