<div class="card">
  <h5 class="card-header">Title</h5>

  <div class="card-body">
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab esse magnam nihil quibusdam quo similique ut
      voluptas! Corporis doloribus ea, excepturi explicabo id, ipsum optio praesentium repellat sed, sequi totam!
    </p>
  </div>

  <div class="card-footer">
    <ul class="list-unstyled list-group list-group-horizontal">
      <li class="list-group-item">
        <a href="#">Link</a>
      </li>
      <li class="list-group-item">
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
</div>
