<table class="table data-table data-table-simple">
  <thead>
  <tr>
    <th>Value</th>
    <th>Applies to</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>74.50.56.69 <small>Operations server</small></td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-1">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-2">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-3">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-4">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-5">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-6">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td>185.224.137.189</td>
    <td class="w-100">All websites in account</td>
    <td>
      <div class="d-flex flex-row flex-nowrap">
        <div class="table-select">
          <select class="form-control" name="ttl" id="table-select-7">
            <option value="0" selected disabled>Whitelist</option>
            <option value="1">Sample option</option>
            <option value="2">Another sample</option>
            <option value="3" disabled>Disabled option</option>
          </select>
          <span class="caret"></span>
        </div>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-file"></i></button>
        <button type="button" class="btn btn-secondary ml-1"><i class="fas fa-times"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
